<!-- npm install ngx-owl-carousel-o -->
<div class="homepage">
  <div class="home1">
    <div class="content">
      <p class="sub">
        Ambro tự hào mang đến những sản phẩm chất lượng cao, giải pháp dinh
        dưỡng lành mạnh, đáp ứng nhu cầu ngày càng cao của người tiêu dùng về
        việc duy trì sức khỏe và lối sống bền vững.
      </p>
      <button class="btn btn-green">Xem SẢN PHẨM</button>
      <div class="lienhe">
        <p class="sdt">0905-036-273</p>
        <p class="email">ambroeatcleangmail.com</p>
      </div>
    </div>
  </div>

  <section class="products">
    <div class="container-topseller">
      <h2>Sản phẩm mới</h2>
      <div class="product-list">
        <div class="product">
          <img src="/assets/home/product1.png" alt="Granola" />
          <h3>Granola</h3>
          <p>210.000đ/300g</p>
          <a href="#" class="heart"><i class="fas fa-heart"></i></a>
        </div>
        <div class="product">
          <img src="/assets/home/product2.png" alt="Banh" />
          <h3>Bánh ngói hạnh nhận</h3>
          <p>70.000đ/100g</p>
          <a href="#" class="heart"><i class="fas fa-heart"></i></a>
        </div>
        <div class="product">
          <img src="/assets/home/product3.png" alt="Banh" />
          <h3>Bánh Waffle yến mạch</h3>
          <p>55.000đ/200g</p>
          <a href="#" class="heart"><i class="fas fa-heart"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section class="new_products">
    <div class="container-topseller">
      <h2 style="color: #117554">Sản phẩm bán chạy</h2>
      <div class="product-list">
        <div class="product">
          <img src="/assets/home/new1.png" alt="Granola" />
          <h3>Mì đậu biếc</h3>
          <p>16.000đ/200g</p>
          <a href="#" class="heart"><i class="fas fa-heart"></i></a>
        </div>
        <div class="product">
          <img src="/assets/home/new2.png" alt="Banh" />
          <h3>Bánh gạo lức</h3>
          <p>70.000đ/100g</p>
          <a href="#" class="heart"><i class="fas fa-heart"></i></a>
        </div>
        <div class="product">
          <img src="/assets/home/new3.png" alt="Banh" />
          <h3>Bánh Waffle yến mạch</h3>
          <p>55.000đ/200g</p>
          <a href="#" class="heart"><i class="fas fa-heart"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- 
  <section class="products">
    <div class="container-topseller">
      <h2>Sản phẩm mới</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let product of newProducts">
          <ng-template carouselSlide>
            <div class="product">
              <img [src]="product.img" [alt]="product.name" />
              <h3>{{ product.name }}</h3>
              <p>{{ product.price }}</p>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </section>

  <section class="new_products">
    <div class="container-topseller">
      <h2 style="color: #117554">Sản phẩm bán chạy</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let product of bestSellers">
          <ng-template carouselSlide>
            <div class="product">
              <img [src]="product.img" [alt]="product.name" />
              <h3>{{ product.name }}</h3>
              <p>{{ product.price }}</p>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </section> -->

  <div class="home2">
    <img src="/assets/home/home2.png" class="home2" />
  </div>

  <div class="home3">
    <img src="/assets/home/home3.png" class="home3" />
  </div>

  <div class="home4">
    <img src="/assets/home/home4.png" class="home4" />
  </div>
</div>
