<body>
  <div class="container">
    <h2><strong>GIỚI THIỆU VỀ AMBRO</strong></h2>
    <div class="column">
      <div class="row">
        <div class="col-md-6">
          <img
            src="/assets/about/thuonghieu.jpeg"
            alt="Ảnh bìa"
            class="img-fluid"
          />
        </div>

        <div class="col-md-6">
          <div class="topic">
            <img src="/assets/about/left.png" />
            <h3>Ý nghĩa thương hiệu</h3>
            <img src="/assets/about/right.png" />
          </div>
          <p>
            Tên gọi Ambro được lấy cảm hứng từ Ambrosia trong thần thoại Hy Lạp
            có ý nghĩa là thức ăn của các vị thần, tượng trưng cho sự bất tử, sự
            tràn đầy sinh lực và vẻ đẹp vĩnh cửu. Từ ý nghĩa như thế, Ambro xem
            khách hàng như những “vị thần” ở thế giới hiện đại và mong muốn mang
            đến những sản phẩm ăn sạch - tinh hoa của đất trời - giúp cơ thể
            khách hàng nuôi dưỡng một cách tự nhiên và trọn vẹn nhất. Chúng tôi
            mong muốn lan tỏa đến người dùng sản phẩm chất lượng và lối sống
            tích cực, và hy vọng rằng bạn sẽ dựa vào để “chữa lành” cả thể chất
            bên ngoài lẫn sự cân bằng và tươi mới từ sâu bên trong.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="topic">
            <img src="/assets/about/left.png" />
            <h3>Tầm nhìn</h3>
            <img src="/assets/about/right.png" />
          </div>

          <p>
            Trở thành thương hiệu hàng đầu tại Việt Nam trong lĩnh vực eat
            clean, không chỉ cung cấp thực phẩm lành mạnh mà còn đồng hành cùng
            khách hàng trong hành trình chăm sóc sức khỏe toàn diện, giúp họ
            sống khỏe mạnh, tràn đầy năng lượng và hạnh phúc hơn mỗi ngày.
          </p>
        </div>

        <div class="col-md-6">
          <div class="topic">
            <img src="/assets/about/left.png" />
            <h3>Sứ mệnh</h3>
            <img src="/assets/about/right.png" />
          </div>
          <p>
            Chúng tôi cam kết cung cấp các sản phẩm eat clean tự nhiên, an toàn
            và giàu dinh dưỡng, với mong muốn trở thành người bạn đáng tin cậy
            nhất của khách hàng. Bằng cách đồng hành cùng họ trong việc thay đổi
            cả vóc dáng bên ngoài lẫn cân bằng năng lượng từ bên trong, chúng
            tôi sẽ giúp họ tự tin, tỏa sáng và tận hưởng một cuộc sống trọn vẹn
            như những “vị thần”.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="background-color: #0a6835">
    <h2 style="color: white; text-decoration-line: underline">
      Giá trị cốt lõi
    </h2>
    <div class="column" style="padding-left: 50px; padding-right: 50px">
      <div class="row">
        <div class="column col-md-6" style="padding-right: 70px">
          <div class="cotloi">
            <img src="/assets/about/so1.png" />
            <h3>Tự nhiên</h3>
          </div>
          <p class="text" style="padding-right: 50px">
            Ambro cam kết cung cấp các sản phẩm eat clean tự nhiên và an toàn,
            tức là không chứa các chất bảo quản, hóa chất độc hại hay các phụ
            gia không tốt cho sức khỏe.
          </p>
        </div>
        <div class="column col-md-6">
          <div class="cotloi">
            <img src="/assets/about/so2.png" />
            <h3>Dinh dưỡng</h3>
          </div>
          <p class="text" style="padding-right: 50px">
            Ambro cam kết cung cấp các sản phẩm eat clean tự nhiên và an toàn,
            tức là không chứa các chất bảo quản, hóa chất độc hại hay các phụ
            gia không tốt cho sức khỏe.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="column col-md-6" style="padding-right: 70px">
          <div class="cotloi">
            <img src="/assets/about/so3.png" />
            <h3>Bền Vững</h3>
          </div>
          <p class="text" style="padding-right: 50px">
            Ambro sử dụng các nguyên liệu tự nhiên, hướng đến giảm thiểu tác
            động tiêu cực lên môi trường và ủng hộ những phương pháp sản xuất
            bền vững.
          </p>
        </div>
        <div class="column col-md-6">
          <div class="cotloi">
            <img src="/assets/about/so4.png" />
            <h3>Uy tín</h3>
          </div>
          <p class="text" style="padding-right: 50px">
            Ambro luôn đặt mục tiêu trở thành thương hiệu đáng tin cậy trong
            lòng người tiêu dùng bằng cách cung cấp các sản phẩm chất lượng cao
            và an toàn
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
