<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Tạo tài khoản</h5>
          <form [formGroup]="registerForm">
            <div class="mb-3">
              <label for="name" class="form-label">Tên</label>
              <input
                type="text"
                class="form-control"
                placeholder="Tên của bạn"
                formControlName="name"
                required
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Email của bạn"
                required
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Mật khẩu</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
                placeholder="Mật khẩu của bạn"
              />
            </div>

            <!-- <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Xác nhận mật khẩu</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
              />
            </div> -->
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="terms" />
              <label class="form-check-label" for="terms"
                >Chấp nhận các điều khoản và dịch vụ</label
              >
            </div>

            <button
              type="submit"
              class="btn btn-primary w-100"
              (click)="register()"
            >
              Tạo tài khoản
            </button>

            <p class="text-center mt-3">
              Đã có tài khoản?
              <a routerLink="/login" href="/login"> Đăng nhập</a>
              <!-- [queryParams]="{ returnUrl: returnUrl }"
              routerLink="/login"
              href="/login"
              >Đăng nhập<>  > -->
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
