<footer class="footer">
  <div class="container-footer">
    <div class="footer-left">
      <p><b>Công ty TNHH AMBRO</b></p>
      <p>Văn phòng: 669 QL1A, khu phố 6, Thủ Đức, Hồ Chí Minh</p>
      <p>Email: ambroeatcleangmail.com</p>
      <p>Hotline: 0905-036-273</p>
      <p>Mã số doanh nghiệp: 0327129425</p>
      <p>
        Giấy chứng nhận đăng kí doanh nghiệp do Sở kế hoạch và Đầu tư TP Hồ Chí
        Minh cấp lần đầu vào ngày 22/11/2024
      </p>
    </div>
    <div class="footer-center">
      <p><b>Về AMBRO</b></p>
      <a href="#">Giới thiệu chung</a>
      <a href="#">Câu chuyện Ambro</a>
      <a href="#">Đội ngũ nhân viên</a>
      <a href="#">AmbroShare</a>
      <a href="#">AMbroConnect</a>
    </div>
    <div class="footer-right">
      <p><b>Sản phẩm</b></p>
      <a href="#">Hạt dinh dưỡng</a>
      <a href="#">Bún, mì, gạo</a>
      <a href="#">Snack dinh dưỡng</a>
    </div>
    <div class="footer-right">
      <p><b>Đặt hàng & Hỗ trợ </b></p>
      <a href="#">Hỏi đáp</a>
      <a href="#">Hướng dẫn mua hàng</a>
      <a href="#">Điều khoản bảo mật</a>
      <a href="#">Điều khoản chung</a>
    </div>
  </div>
  <div class="copyright">
    <p>© 2023 Hashtag Developer. All Rights Reserved.</p>
  </div>
</footer>
