.footer {
  background-color: #f2f2f2;
  color: white;
}
.container-footer {
  display: flex;
  justify-content: space-around;
  background-color: #117554;
  padding: 40px;
}
.footer-left {
  padding-right: 80px;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  padding-top: 10px;
  color: black;
}
