<nav class="sidebar">
  <ul class="menu-list">
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/3e8659c439d5e00ea12db927ae72d3c4e0c8a54cfc7fdbdc254f23802c394fdb?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Bảng theo dõi</span>
    </li>
    <li class="menu-item active">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/7fb78127939cc09986deaef61a718897f89bbeef0f0b1eead3b4d5d625b61e0d?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Sản phẩm</span>
    </li>
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/0461822e9ebe1b4543c97ff994daf69cd0dcd02957a3a9a6c8c058b8f9900660?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Doanh thu bán hàng</span>
    </li>
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/87a01ab1cc879233a9c33ef2e003ef71246281d7686627ffce9bcfe53e26b21e?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Thông tin admin</span>
    </li>
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e877d3f560ba8dc085dff14d7873f706e4dd417646ee5644729bda314d559407?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Quản lý khách hàng</span>
    </li>
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e877d3f560ba8dc085dff14d7873f706e4dd417646ee5644729bda314d559407?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Quản lý công cụ</span>
    </li>
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e877d3f560ba8dc085dff14d7873f706e4dd417646ee5644729bda314d559407?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Quản lý Thanh toán</span>
    </li>
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/3e8659c439d5e00ea12db927ae72d3c4e0c8a54cfc7fdbdc254f23802c394fdb?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Quản lý Thanh toán<br />và Vận chuyển</span>
    </li>
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e877d3f560ba8dc085dff14d7873f706e4dd417646ee5644729bda314d559407?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Quản lý cộng đồng</span>
    </li>
    <li class="menu-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e877d3f560ba8dc085dff14d7873f706e4dd417646ee5644729bda314d559407?placeholderIfAbsent=true&apiKey=882b161bdead40ce8ef8e302fe1a982f"
        alt=""
        class="menu-icon"
      />
      <span class="menu-text">Quản lý công thức</span>
    </li>
  </ul>
</nav>
